<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="com.exploratoryPractice.MyListener" />
    </listeners>

    <test name="Login Test">
        <classes>
            <class name="testcases.LoginTest">
                <methods>
                    <include name="loginwithCredentials"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>